body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #1e293b ;
}
/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
::-webkit-scrollbar-button {
    display: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #4a5568 ;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon img, .icon img {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    outline: none;
    border: 1px solid #cbd5e1 ;
    padding: 0.75rem;
    border-radius: 1rem;
    font-family: 'Inter', sans-serif;
    color: #4a5568 ;
}